@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Fraunces", serif;
}

/* 
    CORES: 
    rgb(245,228,187) CLARO
    rgb(218,208,182) escurinho
        

*/


nav{
    
    background-color: rgb(245,228,187);
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}
.nav-botoes{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    
    
    
}
div.nav-botoes button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(245,228,187);
    font-family: "Fraunces", serif;
    font-size: 15px;
    transition: 0.3s;

}

div.nav-botoes button:hover{
    background-color: rgb(255, 237, 214);
}
a {
    text-decoration: none;
    color: inherit;
}
main{ 
    background-image: url(https://avatars.mds.yandex.net/get-altay/5457654/2a0000017cc7ce71a8c518178b4330c85ab0/XXL);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    
    
}
main section h1{ 
    color: rgb(255, 255, 255);
    font-size: 100px;
}
cite{ 
    color: white;
}

div.segunda-parte{ 
    
    height: 500px;
    display: flex;
    padding-left: 30px;
    font-family: "Fraunces", serif;
    
}
div.segunda-parte section h1 { 
    font-size: 40px;
    padding-top: 150px;
    padding-bottom: 10px;
    margin-bottom:40px ;
    
}
div.segunda-parte section p{ 
    font-size: 30px;
    
    
}



div.Estabelecimentos section h1{
    font-size: 40px;

}
img{
    width: 100%;
}
.Estabelecimentos{
    height: 600px;
    display: flex;
    padding: 30px 30px 200px;
}
hr{
    background-color: black;
    width: 40%;
    padding: 1px;
    margin: 0px 0px 50px;
}

div.mapBox {
    width:100%;
    

}
.bloco1, .bloco2 , .bloco3{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;

}
.bloco1:hover, .bloco2:hover , .bloco3:hover{
    transform: scale(1.01);
}



.bloco1{
    grid-column: 1;
    grid-row: 2;
    
    
}
.bloco2{
    grid-column: 2;
    grid-row: 2;
    
}
.bloco3{
    grid-column: 3;
    grid-row: 2;
    
    
}
section.bloco1 button , section.bloco2 button , section.bloco3 button{
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top:5px ;
    font-size: 15px;
    background-color: rgb(88, 88, 88);
    color: white;
    
}
section.bloco1 button:hover , section.bloco2 button:hover , section.bloco3 button:hover{
    background-color: rgb(136, 136, 136);
}




div.mapBox img{
    border-start-start-radius: 10px;
    border-top-right-radius:10px ;
}




section  h2{
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}


.blocosLocal{
    display: grid;
    grid-auto-rows: 100px 450px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
    
    
}

.estado{
    grid-column: span 3;
    display: flex;
    text-align: center;
    align-items: center;
}




footer {
    background-color: black;
    padding: 0px 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    

}


.listRedes{
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
    gap: 30px;
}
li > a{
    padding: 15px;
    border-radius: 50%;
}
li > a:hover{
    background-color: rgb(24, 24, 24);
}
.fundo {
    background-color: rgb(245,228,187);
}
.termos{
    gap: 50px;
    display: flex;
    
}
div.termos p a:hover{
    color: rgb(0, 162, 255);
}